@charset "utf-8";
.contents{
    clear: both;
}

.img_box{
    width: 400%;
    height: 100vh;
}

.img_box li{
    width: 25%;
    height: 50vh;
    float: left;
    padding-top: 30vh;
    padding-bottom: 20vh;
    background-position: center 55%;
    background-repeat: no-repeat;
}

.img_box li.item1{
    background-color: #b3d7f9;
    background-image: url("./image/vs1.jpg")
    
}

.img_box li.item2{
    background-color: #f2d7e0;
    background-image: url(./image/vs2.jpg)
}

.img_box li.item3{
    background-color: #fbd3c9;
    background-image: url(./image/vs3.jpg)
}

.img_box li.item4{
    background-color: #c0d2e0;
    background-image: url(./image/vs4.jpg)
}

.tit_box{
    padding-left: 300px;
    padding-top: 100px;
    color: #333;
}

.vs_tit{
    font-size: 30px;
}

.vs_com{
    line-height: 50px;
}

.btn_box{
    position: absolute;
    float: left;
    top: 750px;
    width: 80px;
    height: 14px;
    z-index: 9999;
    left:50%;
    margin-left: -40px;
}

.btn_box li{
    float:left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.btn_box li button{
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background-color: #fff;
}

.btn_box li button.on { 
    background-color: #000;
}

.page {
    clear:both;
    width: 100%;
    background-color: #f2d7e0;
}
.page_wrap {
    width: 1500px;
    max-width:1500px;
    min-width:1500px;
    margin: 0 auto;
}

.svg{
    width: 1500px;
    height: 1500px;
    background-repeat: no-repeat;
    background: url('./image/holo.svg');
    margin: 0 auto; 
}

.page_tit{
    padding-top: 100px;
    width: 1280px;
    margin: 0 auto;
    text-indent: 20px;
}

.page_con{
    position: relative;
    clear: both;
    width: 1500px;
    height: 750px;
    margin: 0 auto;
    overflow: hidden;
}

ul.lst_con1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 1500px;
    height: 1500px;
    animation-name: rot;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes rot {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-90deg); }
    50% { transform: rotate(-180deg); }
    75% { transform: rotate(-270deg); }
}
ul.lst_con1 li {
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    transform-origin: 750px 750px;
    position: absolute;
    padding: 0px 400px;
    padding-left: 480px;
    padding-right: 320px;
    box-sizing: border-box;
}
ul.lst_con1 .item1 {
    transform: rotate(0deg); 
}

ul.lst_con1 .item2 {
    transform: rotate(90deg);
}

ul.lst_con1 .item3 {
    transform: rotate(180deg);
}

ul.lst_con1 .item4 {
    transform: rotate(270deg);
}

ul.lst_con1 a {
    padding-top: 100px;
    display: block;
    width: 700px;
    height: 350px;
    box-sizing: border-box;
}

#page1 .pic_fr1{
    float: left; 
    width: 350px;
    height: 500px;
}

#page1 .pic_fr1 img {
    display: block;
    width: 100%;
    height: auto;
}

#page1 .tit_fr{
    padding-left: 50px;
    box-sizing: border-box;
    float: right;
    width: 350px;
    height: 500px;
}

#page1 .lst_tit1{
    padding-top: 150px;
    color: #000;
}

#page1 .lst_name1{
    color: #000;
}

#page1 .lst_price1{
    color: #000;
    font-size: 25px;
    font-weight: 600;
}

.per{
    color: #ef426f;
}

.price2 {
    color: #888;
    font-size: 20px;
    text-decoration: line-through;
}

#page2 {
    background-color: #f1f1f1;
}

#page2 .lst_con2 {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

#page2 .lst_con2 li{
    float: left;
    width: 400px;
    margin-left: 20px;
}

#page2 .sale_per{
    color: #ef426f;
}

#page2 .lst_name2{
    color: #000;
}

#page2 .lst_com2{
    color: #000;
}

#page2 .lst_price2{
    color: #000;
}

#page2 .del_price{
    color: #888;
    text-decoration: line-through;
}

#page3 .page_wrap{
    position: relative;

}

#page3 .page_con{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    height: 1100px;
}

#page3 .page_con li{
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-top: 40px;
    background-color: #fff;
    position: relative;
}

#page3 img{
    background-color: #eee;
    display: block;
    width: 270px;
    margin: 20px auto;
}

#page3 .num1{
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
/*    border-radius: 18px;*/
    background-color: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 65px;
}

#page3 .lst_tit1{
    margin-left: 65px;
}

#page3 .lst_name1{
    margin-left: 65px;
}

#page3 .lst_price1{
    line-height: 40px;
    margin-left: 65px;
    font-weight: 600;
}

#page3 .pri01, #page3 .pri02, #page3 .pri03 {
    padding-right: 10px;
}

#page3 .pri03{
    color: #888;
    text-decoration: line-through;
}